.button {
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    border: none;
    padding: 0.5em 1.5em;
    font-size: 85%;
    text-decoration: none;
    color: #000;
}
.button-black {
    background-color: #000;
    color: #FFFFFF;
    width: 40%;
}

.button:hover {
    box-shadow: 0 5px 15px #d8f2cb;
    color: rgb(235, 239, 245);
    background-color: rgb(7, 108, 7);
}